/* 

Theme color: 

	bgColor: #e4e4e4;
	bioColor: #063b5b;
	normalFontColor: #a0a0a0;
	headingFontColor: #000;
	titleColor: #1a81c0;
	buttonColor: #0099ff;
	footerBgColor: #81d4e2;
	footerForeColor: #fff;

*/

html, body, div, p {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #e4e4e4;
	font-size: 16px;
}

a {
	color: #000;
	font-size: 13px;
	text-decoration: none;
} 

a:hover {
	color: red;
}


.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url("assets/images/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	display: none;
}

.show {
	display: block !important;
}

.captcha-image {
	vertical-align: middle;
	height: 50px;
	margin-left: 10px;
}

.fail {
	background-color: #FFEEED;
	border: 1px solid #FF9C96;
}

.robo {
	font-family: 'Roboto', sans-serif;
}

.rale {
	font-family: 'Raleway', sans-serif;
}

.dark-bg {
	background-color: #eeeeee;
}

.white-bg {
	background-color: #fff;
}

.blue-bg {
	background-color: #81d4e2;
}

.heading {
  	font-size: 26px;
  	padding-top: 30px;
}

.description {
  	padding-top: 15px;
  	padding-bottom: 30px;
  	font-size: 24px;
  	color: #a0a0a0;
}

.content {
	color: #a0a0a0;
	font-size: 14px;
	line-height: 22px;
}

.slider {
	list-style-type: none;
}

.slider li {
	position: absolute;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
}

.slider-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}

#site-wrapper {
  	width: 1005px;
  	margin: 50px auto 0 auto;
}

#our-product {
  	text-align: center;
}

#our-product .op-1 {
  	height: 395px;
  	padding-top: 20px;
}

#our-product .op-1 .robo.description {
  	color: #063b5b;
  	position: relative;
  	z-index: 1;
}

#our-product .op-1 .logo {
	position: relative;
  	z-index: 1;
}

#our-product .op-2 {
   	height: 145px;
}

.container {
	padding: 0 60px;
}

#autopay-system {
	height: 475px;
	background-image: url('assets/images/autopay-system-bg.jpg');
	background-repeat: no-repeat;
	background-position: 305px bottom;
}

#autopay-system .download.title {
  	padding-top: 40px;
  	font-size: 14px;
}

#autopay-system .download.content ul {
  	list-style-type: none;
  	padding-left: 0;
}

#autopay-system .download.content > ul > li {
	float: left;
	margin-right: 20px;
}

#autopay-system .download.content li:hover {
	cursor: pointer;
}

#autopay-system .download.content li:hover ul {
	display: block;
}

#autopay-system .download.content ul ul {
	display: none;
	background-color: #e5e5e5;
	padding: 20px 9px 9px;
	margin-top: -20px;
}

.btn-download {
	display: inline-block;
	width: 150px;
	height: 32px;
	overflow: hidden;
	background-image: url('assets/images/blue-button.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	font-style: inherit;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
}

#pay-display {
  	height: 450px;
  	background-image: url('assets/images/pay-display-bg.jpg');
	background-repeat: no-repeat;
	background-position: 305px bottom;
}

#parking-guidance {
  	height: 935px;
  	background-image: url('assets/images/parking-guidance-bg.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
}

.col-1, .col-2 {
	width: 50%;
	float: left;
}

#anpr {
  	height: 750px;
  	background-image: url('assets/images/anpr-bg.jpg');
	background-repeat: no-repeat;
	background-position: left bottom;
}

#anpr p {
	margin-top: 20px;
}

#contact-us {
	height: 570px;
}

#contact-us .heading {
	color: #1a81c0;
}

#contact-us .heading, 
#contact-us .content {
	text-align: center;
}

#contact-no {
  	height: 185px;
}

#contact-no .content {
	color: #fff;
	text-align: center;
	padding-top: 20px;
}

#copyright {
  	height: 50px;
}

#copyright .content {
	color: #000;
	text-align: center;
	padding-top: 10px;
}

.cf {
	margin-top: 40px;
}

.cf .col-1 {
	text-align: left;
}

.cf .col-2 {
	text-align: right;
}

.cf input[type="text"],
.cf input[type="email"],
.cf input[type="tel"] {
	width: 400px;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.cf .capcha-validation {
	margin-top: 20px;
	display: inline-block;
	width: auto;
}

.cf .capcha-validation .content {
  	margin: 0 10px;
}

.cf .capcha-validation input[type="text"] {
	width: 175px;
}

textarea {
	padding: 10px;
	width: 863px;
}

input, textarea {
	border: 1px solid #ccc;
}

input[type="submit"] {
	cursor: pointer;
	margin-top: 20px;
	height: 40px;
	width: 185px;
	border: 0;
	color: #fff;
	background-color: #0099ff;
	float: right;
}